<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Зал Слави</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/feedbacks.css">
</head>
<body>
    <header>
        <h1>Зал Слави Найкращих Викладачів ОТУШ 2025</h1>
    </header>

    <main>
        <div id="review-container" class="review-container">
            <!-- відгуки будуть динамічно додаватися сюди за допомогою JavaScript -->
        </div>
    </main>
    
    <script>
        // функція для завантаження відгуків з сервера
        function loadFeedbacks() {
            fetch('/api/feedbacks') // URL для отримання відгуків
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Мережа не відповіла належним чином');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('Отримані дані:', data);
                    const container = document.getElementById('review-container');
                    container.innerHTML = ''; // очищення контейнера перед додаванням нових відгуків

                    data.forEach(feedback => {
                        const card = document.createElement('div');
                        card.className = 'review-card';

                        card.innerHTML = `
                            <img class="review-avatar" src="${feedback.avatarUrl}" alt="Profile Picture" />
                            <div class="review-content">
                                <h2 class="review-name">${feedback.nickname}</h2>
                                <p class="review-details">характер ${feedback.gender}, стаж роботи ${feedback.age} років, місто ${feedback.city}</p>
                                <p class="review-feedback">${feedback.feedback}</p>
                            </div>
                        `;

                        container.appendChild(card);
                    });
                })
                .catch(error => console.error('Помилка при завантаженні відгуків:', error));
        }

        // завантаження відгуків кожні 2 секунди
        setInterval(loadFeedbacks, 5000);
        
        // отримання відгуків при завантаженні сторінки
        loadFeedbacks();
    </script>
</body>
</html>
